
/*****************    setting background of boxes for me only  ******/
/*****************    these are not the finished result colors *******/

a{
  background-color:brown ;
}

.b{
 background-color: blue;
}


.c{
background-color:yellow ;
}

.d{
   background-color:orange ;
}
.e{
  background-color:purple ;
}


.f{background-color: beige;

}

.g{
  background-color: black;
}


/******container box  set up  ***********/
 .container{
  display:flex;
  background:#fefdfde6;
  border:1px solid grey;
  flex-direction: column; 
  flex-wrap: wrap;
  min-height: 100vh;
}


/********** main container set up ********/
.main{ 
  
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  flex-grow:3;
  margin:.2em;
  width:100%;
  border:5px;
  min-height:45vh;
  font-size:2em ;
  background:  #eee;

 

}     



/* ****** header section  **** */
    .a{
margin-bottom:.2em;
text-align: center;
font-size:2em;
width:100%;
height:vh;
background:rgb(219, 216, 216);


/********** main section blocks set up within main *********/
}

.main > div{
  min-height: 20vh;
  width:30%;
  margin:.5em;
  background-color:rgb(219, 216, 216); 
  

}



/* *********  Footer section **********/
.h{

  font-size:2em;
  min-height:20vh;
  width:100%;
  background:rgb(219, 216, 216);
  text-align: center;
  
  margin-top:;
}


/* ************  Media Queries for  Desktop Display *************** */

@media (min-width:600px){
  .container{
  
    flex-direction:row;
    flex:wrap;
   }

   .a{
    height:20vh;
    margin-bottom:.2em;
   }

  .main{
    width:70%;
    margin:.5em;
  }

  .h{

    width:20%;
    height:87vh;
     margin-top:20px;
  }


}