*{
  outline: 1px red;

}


body {
background: blanchedalmond; 
outline:1px solid bisque;
text-align:center;
font-size: 2em;
}

/******container box mobil****/
   .container{
    height:100vh;
    
    outline:1px;
    background:#fefdfde6;
    border:1px solid black;
    display: flex;
    
    flex-direction: column; 
  }



/* ****** Container a,c mobil ****/

header, footer{


 padding:5px;
 margin:10px;
 
 border:1px solid grey;
 font-size:2em;
 text-align: center;
 background:rgb(219, 216, 216);
 flex-grow: 1; 
}

  
 
 /***** Contaianer  'b' mobil ****/



  main{ 
  margin: 10px;
  min-height:65vh;
  font-size:2em ;
  
  border:1px solid grey; 
  background:rgb(219, 216, 216); 
  flex-grow: 5;

}



/*****************Desk-Top*************************************************/
 @media (min-width:600px){ 

  .container{
  
    min-height:85vw ;
    flex-direction: row; 
    flex-wrap: wrap;
    
  }

header{
   width:100vw; 
}
footer{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap-reverse;
}
            
  }









