body {
background: blanchedalmond; 
outline:1px solid bisque;
}

/******container box mobil****/
   .container{
    
    outline:1px;
     min-height:100vh; 
    background:#fefdfde6;
    border:1px solid black;
    display: flex;
    
    flex-direction: column; 
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }



/* ****** Container a,c mobil ****/

header, footer{
 flex: 1 0 25%;

 padding:5px;
 margin:10px;
 
 border:1px solid grey;
 font-size:2em;
 text-align: center;
 background:rgb(219, 216, 216);
}

  
 
 /***** Contaianer  'b' mobil ****/



  main{ 
  font-size:2em;
  margin: 10px;
  /* min-height:60vh; */
  flex: 1 0 50%;
  border:1px solid grey; 
  text-align: center;
  background:rgb(219, 216, 216); 

}



/*****************Desk-Top*************************************************/
 @media (max-width:768px){ 

  header,main,footer{
    flex-basis:45%;
    min-height:85vw ;
    flex-direction: row; 
    justify-content: space-between;
  }
            
  }
  @media(max-width:480px){
    header,main,footer{
      flex-basis:100%;

    }
  }



/********* Container 'b' Desktop ****/








