body {
  background: papayawhip;
border:solid red;
outline:1px solid bisque;

}
/******container box ****/
   .container{
  
    outline:1px ;
    margin-top:0px;
    width: 165px;
    height: 265px;
    padding: 3px; 
    background:#fefdfde6;
    border:1px solid grey;
    display:flex ;
    flex-direction: column; 
    justify-content:space-between;
 }

/* ****** Container a phone **** */
  .a{
  outline:1px;
  margin:5px;
  text-align: center;
  font-size:2em;
  width:150px;
  height:40px;
  border:1px solid grey;
  background:#eee;

 }
   
 .b{
  
  font-size:2em;
  
  width:150px;
  height:150px;
  border:1px solid grey; 
  margin:5px;
  background:#eee;
  text-align: center; 
}