
/*******  outline border test *************/


/* *{
  outline: 1px solid red;
} */



/********** background border for classes for testing only. Changed Colors to grey 
               down further in code***/

.a{
  background-color:brown ;
}

.b{
 background-color: blue;
}


.c{
background-color:yellow ;
}

.d{
   background-color:orange ;
}
.e{
  background-color:purple ;
}


.f{background-color: beige;

}

/***********************************************************************/



/************ container set up for flex container and background *******/


.container{
  height:100vh;
  background:light rgb(231, 224, 224); 
  border:1px solid black;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: #eee;


}



/************ main container set up inside of container for flex set up (and background}  **/

.main{ 
  margin: 10px;
  border:5px;
  min-height:65vh;
  font-size:2em ;
  background:;  #eee;
  flex-grow: 2;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 

}     

/*****************  b box ...child of "main" ******/
 .b{
  width:100%;
  flex-grow: 3;
  margin: .2em;
 min-height: 50vh;
 border:5px;
 text-align:center;
 font-size:50px ;
 background-color:rgb(219, 216, 216) ;
} 

   
/******* a and f set up for the header and footer *****/

 .a, .f{
  flex-grow: 1;
  margin: .4em;
  min-height:10vh ;
  border:5px;
  text-align:center ;
  font-size:50px ;
  background-color: rgb(219, 216, 216);
} 

/************* c,d, and e boxes ... chidren of "main" container  ***/
.c,.d,.e{
  flex-grow: 1;
  min-height: 15vh;
  border:5px;
  margin: 0.2em;
  text-align: center;
  font-size:50px ;
  background-color:rgb(219, 216, 216) ;

}


/**********  Mdia queries for  Desktop view  *****************************/
/***** will only run when width reaches 600 px or greater ****************/



@media (min-width:600px){
  .container{
      flex-direction: row;
      flex-wrap:wrap; 

      }

  .a{
    width:100vh;

  }
    .main{
      width:60vh;
      height:72.5vh;
    }


  .f{
  
  max-height:70vh;
  width:20vw;

  }

}
